/*
 * Theme colors config
 */
$theme-color-gold: #b38d19;
$theme-color-gold-light: #d9c68c;
$theme-color-black: #111111;
$theme-color-gray: #bbbbbb;
$theme-color-gray-light: #e6e6e6;
$theme-color-gray-heavy: #aaaaaa;
$theme-color-white: #ffffff;
$theme-color-green: #4caf50;
$theme-color-green-blue: #008c7f;
$theme-color-background: #f9f9f9;
/*
 * Font config
 */
.u-font {
  font-family: "EB Garamond", "Hiragino Mincho ProN", serif;
}