/*
 * Custom page
 */
.title-type__custom {
  text-align: center;
  margin-top: 6vmin;
  h1 {
    display: inline-block;
    width: auto; height: auto;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 3vmin 0;
    letter-spacing: 2px;
  }

}