/*
 * Post page
 */
.main-page {
  @media screen and (max-width: 800px) {
    width: 90vw;
  }
  position: relative;
  margin: 0 auto; margin-top: 6vmin;
  width: 60vw;
  text-align: left;
}
.main-page__date {
  position: relative;
  margin: 1vmin 0;
  h4 {
    font-size: 1rem;
    font-weight: 300;
  }
}
.main-page__title {
  position: relative;
  margin: 2vmin 0;
  h1 {
    font-weight: 400;
  }
}
