{{ partial "head.html" . }}

<body>
    <div class="header">
        <div class="site-logo__wrap">
            <div id="site-button">
                <div></div>
            </div>
            <div class="site-logo  site-logo__index">
                <a href="/">
                {{- with .Site.Params.logo -}}
                <img src="{{ . | absURL }}" />
                {{- end -}}
                </a>
            </div>
        </div>
        <div class="site-nav site-nav__index u-font" id="nav-bar">
            <div class="site-nav__wrap">
                <a class="site-nav__el" href="/">HOME</a>
            </div>
            <div class="site-nav__wrap">
                <a class="site-nav__el" href="/posts">BLOG</a>
            </div>
            <div class="site-nav__wrap">
                <a class="site-nav__el" href="/pages/about">ABOUT</a>
            </div>
            <div class="site-nav__wrap">
                <a class="site-nav__el" href="/tags">TAG</a>
            </div>
            <div class="site-nav__wrap">
                <a class="site-nav__el" href="/pages/links">FRIENDS</a>
            </div>
        </div>
    </div>
    <div class="main">