{{ partial "head.html" . }}

<body>
<div class="header">
    <div class="site-logo__wrap">
        <div id="site-button">
            <div></div>
        </div>
        {{ $currentPage := . }}
        <div class='{{ if eq $currentPage.Permalink "/" }} site-logo site-logo__index {{ else }} site-logo {{ end }}'>
            <a href="{{ .Site.BaseURL }}">
                {{- with .Site.Params.logo -}}
                <img src="{{ . | absURL }}" />
                {{- end -}}
            </a>
        </div>
    </div>
    {{ partial "navbar.html" . }}
</div>
<div class="main">