/*
 * Theme colors config
 */
/*
 * Font config
 */
.u-font {
  font-family: "EB Garamond", "Hiragino Mincho ProN", serif; }

/*
 * Base style
 */
* {
  padding: 0;
  margin: 0; }

body {
  font-family: Helvetica neue, "Open Sans", sans-serif, Arial, serif;
  font-size: 16px; }

.main {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  min-height: 70vh; }

a {
  text-decoration: none;
  color: #b38d19;
  transition: color .2s ease; }
  a:hover {
    color: #d9c68c; }

article {
  margin: 45px 0 30px;
  word-wrap: break-word;
  color: #111111; }
  article p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 340;
    margin: 24px 0;
    word-wrap: break-word;
    letter-spacing: 1px; }

/*
 * Header
 */
.site-logo__wrap {
  position: relative;
  width: 100vw;
  padding: 7vmin 0;
  background-color: #ffffff; }
  @media screen and (max-width: 800px) {
    .site-logo__wrap {
      border-bottom: #e6e6e6 1px solid;
      padding: 7px 0; } }

.site-logo {
  position: relative;
  width: 7vmin;
  height: 7vmin;
  margin: 0 auto; }
  .site-logo a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .site-logo img {
    width: 100%;
    height: 100%; }

.site-logo__index {
  width: 9vmin;
  height: 9vmin; }
  @media screen and (max-width: 800px) {
    .site-logo__index {
      width: 7vmin;
      height: 7vmin; } }

.site-nav {
  position: relative;
  width: 100%;
  padding: 2vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  letter-spacing: 1px;
  z-index: 1000; }
  .site-nav .site-nav__wrap {
    margin: 0 2vw; }
  .site-nav .site-nav__el {
    display: inline-block;
    height: 4vh;
    line-height: 4vh;
    color: #111111;
    font-size: .8rem; }
    .site-nav .site-nav__el:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease; }
  .site-nav .current-page {
    opacity: .6;
    cursor: default;
    pointer-events: none;
    border-bottom: #111111 1px solid; }

.site-nav__index .site-nav__el {
  height: 5vh;
  line-height: 5vh; }

.site-nav-fixed {
  position: fixed;
  top: 0; }

#site-button {
  position: absolute;
  display: none;
  width: 22px;
  height: 22px;
  left: 20px;
  top: calc(50% - 11px);
  text-align: center;
  z-index: 1001;
  cursor: pointer; }
  @media screen and (max-width: 800px) {
    #site-button {
      display: block; } }
  #site-button div {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: calc(50% - 0.5px);
    background-color: #111111; }
    #site-button div::before, #site-button div::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #111111;
      transition: all .2s ease; }
    #site-button div::before {
      transform: translateY(7.5px) rotate(0); }
    #site-button div::after {
      transform: translateY(-7.5px) rotate(0); }

#site-button.button-clicked {
  position: fixed;
  left: 20px;
  top: 10px; }
  #site-button.button-clicked div {
    background-color: rgba(255, 255, 255, 0); }
    #site-button.button-clicked div::before {
      transform: translateY(0) rotate(45deg); }
    #site-button.button-clicked div::after {
      transform: translateY(0) rotate(-45deg); }

@media screen and (max-width: 800px) {
  #nav-bar {
    display: none; }

  .site-nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin-top: 0;
    transform: translateX(-100%);
    animation: nav-in .5s ease forwards; }
    .site-nav .site-nav__wrap {
      width: 100%;
      text-align: center;
      margin: 12px 0; }
      .site-nav .site-nav__wrap a {
        height: 4vh;
        line-height: 4vh;
        font-size: 1.5rem;
        letter-spacing: 2px; } }
/*
 * Index page
 */
.index-displayImg {
  position: relative;
  width: 100vw;
  height: 85vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 800px) {
    .index-displayImg {
      height: 25vh; } }

.index-line {
  position: relative;
  margin: 0 auto;
  margin-top: 8vmin;
  text-align: center;
  width: 50vw;
  height: 5vh;
  border-top: #e6e6e6 1px solid;
  line-height: 5vh; }
  @media screen and (max-width: 800px) {
    .index-line {
      width: 80vw; } }
  .index-line span {
    display: inline-block;
    color: #111111;
    border-top: #b38d19 3px solid;
    margin-top: -1px;
    opacity: .9;
    font-size: 1rem; }

.index-sns {
  position: relative;
  margin: 0 auto;
  margin-top: 3vmin;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .index-sns a {
    margin: 2vmin auto;
    padding: 1.3vh 0.2vw;
    width: 18%;
    color: #aaaaaa;
    font-size: .8rem;
    letter-spacing: 1px;
    border: #aaaaaa 1px solid;
    transition: all .2s ease; }
    @media screen and (max-width: 800px) {
      .index-sns a {
        width: 55%;
        padding: 1.7vh 3vw;
        margin: 3vmin auto;
        font-size: .7rem; } }
    .index-sns a:hover {
      color: #ffffff;
      background-color: #d9c68c; }

.index-posts {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 4vmin;
  width: 50vw; }
  @media screen and (max-width: 800px) {
    .index-posts {
      width: 80vw; } }
  .index-posts .index-posts__list {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 2vh 0;
    font-size: .8rem; }
  .index-posts a {
    transition: all .3s ease;
    letter-spacing: 0.8px; }
    .index-posts a:hover {
      opacity: 0.6; }
  .index-posts .l-time a {
    color: #aaaaaa; }
  .index-posts .l-title {
    margin-left: 1vw; }
    .index-posts .l-title a {
      color: #111111; }

/*
 * Animations
 */
/*
 * Post page
 */
.main-page {
  position: relative;
  margin: 0 auto;
  margin-top: 6vmin;
  width: 60vw;
  text-align: left; }
  @media screen and (max-width: 800px) {
    .main-page {
      width: 90vw; } }

.main-page__date {
  position: relative;
  margin: 1vmin 0; }
  .main-page__date h4 {
    font-size: 1rem;
    font-weight: 300; }

.main-page__title {
  position: relative;
  margin: 2vmin 0; }
  .main-page__title h1 {
    font-weight: 400; }

/*
 * Custom page
 */
.title-type__custom {
  text-align: center;
  margin-top: 6vmin; }
  .title-type__custom h1 {
    display: inline-block;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 3vmin 0;
    letter-spacing: 2px; }

/*
 * Footer
*/
.footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 20vh; }

.copyright-wrap {
  text-align: center;
  border-top: #e6e6e6 1px solid; }

.copyright {
  padding: 2.5vh 0;
  font-size: .4rem;
  color: #bbbbbb; }
  .copyright a {
    color: #bbbbbb; }

/*
 * Keyframes
 */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes nav-in {
  0% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(4%); }
  70% {
    transform: translateX(-2.5%); }
  100% {
    transform: translateX(0%); } }

/*# sourceMappingURL=style.css.map */
